@page "/ConsultaCompras"
@page "/ConsultaCompras/{I:int}"

@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <AuthorizeView>
        <NotAuthorized>
            <div class="card text-center">
                <div class="card-header">
                    No Autorizado
                </div>
                <div class="card-body">
                    <h5 class="card-title">Atención</h5>
                    <p class="card-text">Usted no está autorizado para acceder a esta pagina.</p>
                    <a href="MenuConsultas" class="btn btn-primary">Ir al Menú</a>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <h3>Consulta de Compras</h3>

    <div class="form-row">

        <div class="col">
            <input id="desde_date" class="form-control" type="datetime-local" @bind="desdeFecha" />
            <label for="desde_date">Desde</label>
        </div>
        <div class="col">
            <input id="hasta_date" class="form-control" type="datetime-local" @bind="hastaFecha" />
            <label for="hasta_date">Hasta</label>
        </div>

        <div class="col">
            <button class="btn btn-primary" id="filtar_buton" @onclick="filtradoPorFecha">Filtar por Fecha</button>
        </div>
        <div class="col">
            <button class="btn btn-dark" type="button" @onclick="Saltar">Pag. Siguiente</button>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Criterio" @onfocusin="Filtrar" @onfocusout="Filtrar" @onclick="Filtrar" @bind="Criterio" />
        </div>

        <div class="col">
            <select class="form-control" @onclick="Filtrar" @bind="filtro">
                <option value="0">Todos</option>
                <option value="1">Id</option>
                <option value="2">Nombre del proveedor</option>
                <option value="3">Itbis</option>
                <option value="4">Balance</option>
                <option value="5">Descripción</option>
            </select>
        </div>
    </div>
    <br />

    @code {
       

    }



