@page "/ConsultaPagos"

@using ProyectoFinal_Aplicada2.Controllers;
@using ProyectoFinal_Aplicada2.Models;

<h3>Consulta de Pagos</h3>
@if (lista == null)
{
    <p>No hay datos que mostrar</p>
    return;
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha del Pago</th>
                <th>Pago Total Efectuado</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <td>@item.PagoId</td>
                    <td>@item.PagoFecha</td>
                    <td>@item.PagoTotal</td>
                    <td><a class="btn btn-outline-info" href="Pagos/@item.PagoId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    PagosControllers controller = new PagosControllers();
    List<Pagos> lista = new List<Pagos>();

    protected override void OnInitialized()
    {
        lista = controller.GetList(A => true);
    }


}