@page "/ConsultaCategorias"
@page "/ConsultaCategorias/{I:int}"


@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <AuthorizeView>
        <NotAuthorized>
            <div class="card text-center">
                <div class="card-header">
                    No Autorizado
                </div>
                <div class="card-body">
                    <h5 class="card-title">Atención</h5>
                    <p class="card-text">Usted no está autorizado para acceder a esta pagina.</p>
                    <a href="MenuConsultas" class="btn btn-primary">Ir al Menú</a>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>



<style>
    .{

    }

    .Azul{
        color: #0094ff;
    }
</style>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <h3>Consulta de Categorías</h3>

    <div class="form-row">


        <div class="col">
            <input type="text" class="form-control" placeholder="Criterio" @onfocusin="Filtrar" @onfocusout="Filtrar" @onclick="Filtrar" @bind="Criterio" />
        </div>

        <div class="col">
            <select class="form-control" @onclick="Filtrar" @bind="filtro">
                <option value="0">Todos</option>
                <option value="1">Id</option>
                <option value="2">Nombre de la categoría</option>
            </select>
        </div>

    </div>
    <br />

    @if (ListaCategoria == null)
    {
        <p>No hay datos que mostrar</p>
        return;
    }
    else
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Categoría</th>
                    <th>Nombre del producto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ListaCategoria)
                {
                    <tr>
                        <td>@item.CategoriaId</td>
                        <td>@item.NombreCategoria</td>

                        <td><a class="btn btn-outline-info" href="Categorias/@item.CategoriaId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }

<nav aria-label="...">
    <ul class="pagination pagination-lg">
        @for (int i = 1; i <= totaldepaginas; i++)
        {
            <li class="page-item Azul"><a class="page-link Azul" @onclick="OnInitialized" href="ConsultaCategorias/@i">@i</a></li>
        }
        <li class="page-item Azul"><a class="page-link Azul" @onclick="Saltar"> ► </a></li>
    </ul>
</nav>

}

@code {

    List<Categorias> ListaCategoria = new List<Categorias>();

    [Parameter]
    public int I { get; set; }


    double conteo = 0;
    double totaldepaginas = 0;
    Contexto contexto = new Contexto();
    Paginacion paginacion = new Paginacion();
    public int Contador { get; set; }

    protected override void OnInitialized()
    {
        conteo = contexto.Categorias.Count();
        totaldepaginas = Math.Ceiling(conteo / paginacion.CantidadMostrar);
        ListaCategoria = categoriascontrollers.GetList(p => true);
        this.ListaCategoria = contexto.Categorias.Take(paginacion.CantidadMostrar).ToList();
        NumSaltar();
    }

    private void NumSaltar()
    {
        Contador = I - 1;
        Saltar();
    }

    private void Saltar()
    {
        Contador += paginacion.Pagina;
        if (Contador >= totaldepaginas)
        {
            Contador = 0;
        }

        ListaCategoria = contexto.Categorias
        .Skip(Contador * paginacion.CantidadMostrar)
        .Take(paginacion.CantidadMostrar)
        .ToList();
    }

    private string filtro;
    private string Criterio;

    List<Categorias> listado = new List<Categorias>();

    private void Filtrar()
    {

        try
        {
            int filtroIndex = Int32.Parse(filtro);


            if (Criterio.Trim().Length > 0)
            {
                switch (filtroIndex)
                {
                    //Todos
                    case 0:
                        conteo = contexto.Categorias.Count();
                        totaldepaginas = Math.Ceiling(conteo / paginacion.CantidadMostrar);
                        ListaCategoria = categoriascontrollers.GetList(A => true);
                        this.ListaCategoria = contexto.Categorias.Take(paginacion.CantidadMostrar).ToList();
                        break;
                    //Int
                    case 1:
                        int id = 0;
                        if (int.TryParse(Criterio, out id))
                        {
                            id = Convert.ToInt32(Criterio);
                            ListaCategoria = categoriascontrollers.GetList(p => p.CategoriaId == id);
                            ListaCategoria = listado;
                        }
                        break;
                    //Categoria
                    case 2:
                        listado = categoriascontrollers.GetList(p => p.NombreCategoria.Contains(Criterio));
                        ListaCategoria = listado;
                        break;

                }
            }
            else
            {
                listado = categoriascontrollers.GetList(p => true);
                ListaCategoria = listado;
            }

        }
        catch (Exception)
        {
            //papichulo
        }
    }


}