@page "/"
<h1>COOASAR PROJECT</h1>
<h4>Sistema de compra y ventas.</h4>
<div class="container">
    <br />
    <img src="/Imagenes/FondoCooasar.png" class="img-fluid" alt="No Se Pudo Cargar" />
    <br />
    <br />
</div>

