@page "/pagos"
@page "/pagos{Id:int}"

<h3>Pagos</h3>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .form-register {
        width: 800px;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px #000;
    }

    .h3 {
        color: white;
    }
</style>


@code {
    [Parameter]
    public int Id { get; set; }

    Pagos pagos = new Pagos();
    Compras compras = new Compras();
    List<Compras> ListaCompras = new List<Compras>();

    protected override void OnInitialized()
    {
        if(Id>0)
        {
            pagos = pagoscontroller.Buscar(Id);
        }
        ListaCompras = comprascontroller.GetList(p => true);

        compras = new Compras();

    }

    private void Guardar()
    {

    }

    private bool ExisteCompra()
    {
        bool paso = false;




        return paso;
    }


}
