@page "/MenuConsultas"
<h3>Menú de Consultas</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta de Usuarios</h5>
                <p class="card-text">Consulta para acceder a los Usuarios creados.</p>
                <a href="ConsultaUsuarios" class="btn btn-primary btn-lg btn-block">Entrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta de Productos</h5>
                <p class="card-text">Consulta para acceder a los Productos creados.</p>
                <a href="ConsultaProductos" class="btn btn-primary btn-lg btn-block">Entrar</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta de Proveedores</h5>
                <p class="card-text">Consulta para acceder a los Proveedores creados.</p>
                <a href="ConsultaProveedores" class="btn btn-primary btn-lg btn-block">Entrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta de Compras</h5>
                <p class="card-text">Consulta para acceder a las Compras creadas.</p>
                <a href="ConsultaCompras" class="btn btn-primary btn-lg btn-block">Entrar</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta de Pagos</h5>
                <p class="card-text">Consulta para acceder a los Pagos creados.</p>
                <a href="ConsultaPagos" class="btn btn-primary btn-lg btn-block">Entrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta de Ventas</h5>
                <p class="card-text">Consulta para acceder a las Ventas creadas.</p>
                <a href="ConsultaVentas" class="btn btn-primary btn-lg btn-block">Entrar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta de Clientes</h5>
                <p class="card-text">Consulta para acceder a los Clientes creados.</p>
                <a href="ConsultaClientes" class="btn btn-primary btn-lg btn-block">Entrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulta de Tipos de Productos</h5>
                <p class="card-text">Consulta para acceder a los Tipos de productos creados.</p>
                <a href="ConsultaTipoProductos" class="btn btn-primary btn-lg btn-block">Entrar</a>
            </div>
        </div>
    </div>
</div>



@code {

}
