@inherits LayoutComponentBase
@using ProyectoFinal_Aplicada2.Pages;
<div class="sidebar">
        <NavMenu />
</div>
<div class="main">
    <div class="top-row px-4">
        <LoginControl />

        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        <BlazoredToasts />
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

